html
  font-family: $font
  font-size: 16px

body
  margin: 0
  background: $color-grey-200

h1
  margin: 0
  border: 0
  padding: 0
  text-align: center

header
  padding: 5px 0
  background: $color-blue-800
  box-shadow: 0 1px 5px $color-black
  color: $color-white

main
  display: flex
  flex-direction: column

section
  width: 90vw
  box-sizing: border-box
  margin: 20px
  padding: 10px
  background: $color-white
  box-shadow: 0 0 10px $color-grey-400
  text-align: center

  & > h1
    border-bottom: 1px solid $color-black

ul
  padding-left: 10px
  text-align: left
  list-style: none

li
  &::before
    content: '- '

  &.saw
    color: $color-grey-400
    text-decoration: line-through

@media ($media-tablet)
  main
    flex-direction: row
