<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn to Front</title>
    <link rel="shortcut icon" href="/images/learn-front.png">
    <link rel="stylesheet" href="/css/learn-front.css">
  </head>
  <body>
    <header>
      <h1>My series</h1>
    </header>

    <main>
      <section>
        <h1>Game of thrones</h1>
        <h2>Saison 1</h2>
        <ul id="js-got">¯\_(ツ)_/¯</ul>
      </section>

      <section>
        <h1>The Walking Dead</h1>
        <h2>Saison 1</h2>
        <ul id="js-twd">¯\_(ツ)_/¯</ul>
      </section>
    </main>

    <script async src="/learn-front.js"></script>
  </body>
</html>
